#ground{
    background-image: url("../images/auto.jpg");
    width:100%;
    height:100vh;
    background-position: left 50% ;
}

#ground img{
    width:100px;
    height:50px;
    margin-left: 8em;
}

#sign-up, #log-in{
    margin-top: 27em;
    background-color: transparent;
    color:white;
}

.glyphicon{
    font-size: 0.8em;
}

#ground-2 {
    background-image: url("../images/auto.jpg");
    width: 100%;
    height: 100vh;
    background-position: left 50%;
}

#ground-2 h2,h5,hr{
    color:white;
}

 #cont-2 h2{
    margin-top: 8em;
}

#ground-3 {
    background-image: url("../images/auto.jpg");
    width: 100%;
    height: 100vh;
    background-position: left 50%;
}

#ground-3 h2,h3,hr{
    color:white;
}

#resend-btn{
    margin-top: 2em;
}

#next-btn {
    margin-top: 3em;
}

#next-btn:active{
    background-color: fuchsia;
}

#ground-4 {
    background-image: url("../images/auto.jpg");
    width: 100%;
    height: 100vh;
    background-position: left 50%;
}

#ground-4 h2 {
    color:white;
}